body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-footer {
  padding-top: 75px;
  padding-bottom: 60px;
}
.bottom-footer {
  background-color: #e5e5e5;
}
.bottom-footer .container {
  border-top: 1px solid #e1e1e1;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-footer .container .row p,
.bottom-footer .container p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.bottom-footer .container {
  text-align: center;
}
.title-footer {
  margin-bottom: 25px;
}
.title-footer h3 {
  font-weight: 600;
}
.background-footer {
  background: lightskyblue none repeat scroll 0 0;
}
.Kategori{
  margin-top: 40px
  ;
}
.Bangsat{
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;  
}
.Bangsats{
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}
.Galtext{
  margin-top: 30px;
  text-align: center;
}
.a{
  margin: 10px;
}
.b{
  margin: 10px;
  width: 400px;
  height: 300px;
}
.c{
  margin: 10px;
  width: 392px;
  height: 292px;
}
.GalFoto{
  text-align: center;
  margin-top: 30px;
}
.GalVideo{
  text-align: center;
  margin-top: 30px;
}
/* Gallery Video */
.wrap-videos {
  /* width: 100%; */
  margin: 0 auto;
  /* display: flex;
  flex-flow: row wrap;
  justify-content: center; */
}
.tile-videos {
  width: 400px;
  height: 300px;
  /* margin: 10px; */
  background-color: rgba(2, 11, 20, 0.83);
  /* display: inline-block; */
  background-size: cover;
  position: relative;
  cursor: pointer;
  /* transition: all 0.4s ease-in; */
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  color: #fff;
  /* font-family: 'Roboto'; */
  margin: 10px;
  margin-left: 20px;
}
.tile-videos .player-wrapper {
  height: 300px;
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
  /* margin: 10px;
  margin-right: 30px; */
}
.tile-videos .text-videos {
  /*   z-index:99; */
  position: absolute;
  padding: 20px;
  height: 300px;
  width: 400px;
}
.tile-videos h1 {
  font-weight: 300;
  margin: 0;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile-videos .text-videos p {
  font-weight: 300;
  margin: 40px 0 0 0;
  line-height: 25px;
  /*   opacity:0; */
  /* transform: translateX(-200px);
  transition-delay: 0.2s; */
  font-size: 12px;
}
.player-wrapper {
  opacity: 0.2;
  position: relative;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.player-wrapper:hover {
  background-color: none;
  opacity: 1;
}
.tile-videos:hover .text-videos {
  display: none;
}
.Vido{
  width: 440px;
  height: 320px;
}
.Tuf{
  color: black;
}
.text_grey {
  color: grey !IMportant;
}

.media-body a {
  color: #0072c5;
}

.text_blue {
  color: #0072c5;
}

.badge-primary {
  background-color: #a9d040;
}

.badge {
  display: inline-block;
  padding: 4px 10px;
  text-shadow: 1px 1px 1px grey;
}

.offerList .media {
  border-bottom: 1px solid #ececec;
  margin-bottom: 10px;
}
.image-dok{
  width: 50px;
  float: left;
  margin-right: 10px;
}
.Navigasi{
  background-color: lightskyblue !important;
}
.email{
  margin-top: 20px;
  float: left;
}
.mail{
  margin-top: 20px;
  margin-bottom: 0.1rem;
  margin-left: 5px !important;
  width: 175px;
}
.surel{
  font-size: 1rem;
  margin-left: 5px !important;
  text-decoration: underline;
}
.logmail{
  flex: 0.1  0 0 !important;
}
.logphone{
  flex: 0.1 0 0 !important;
  margin-right: 175px;
}
.tag-p{
  margin-top: 10px !important;
  font-style: italic !important;
  text-align: center !important;
  font-size: large !important;
}
.penggam{
  float: left;
}
.Pengtext{
  text-align: center;
}
.seluruh-pengumuman{
  margin-top: 40px !important;
}
.namakepala{
  font-size: larger;
  text-align: center;
}
.KepalaDinas{
  margin-top: 40px;
}
.Dokhom{
  margin-top: 110px !important;
}
.stylecard{
  border: 0px solid rgba(0,0,0,.125) !important;
  border-radius: 0rem !important;
}
.text-black{
  text-align: center;
}
.logokabupaten{
  width: 85px;
  height: 85px;
  float: left;
}
.Logtext{
  font-size: larger;
  width: 270px;
  margin-top: 15px;
}
div#root{
  overflow: hidden;
}
.mb{
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}
.placehold{
  width: 80% !important;
}